menu "Secret Configuration"
    
config ESP_WIFI_SSID
    string "WiFi SSID"
    default "myssid"
    help
	SSID (network name) for the example to connect to.

config ESP_WIFI_PASSWORD
    string "WiFi Password"
    default "mypassword"
    help
	WiFi password (WPA or WPA2) for the example to use.

config ESP_MAC_ADDR
    string "MAC Address"
    default "0xFF, 0xFF, 0xFF, 0xFF, 0xFF, 0xFF"
    help
    MAC Address for the connect to other ESP32.
endmenu
